<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
 <aside>
     <%- include('../partials/_profileHeader') %>
 </aside>
  <main class="w-full h-full">
    <%- body %>
  </main>
  
  <%- include('../partials/_footer') %>
  <%- script %>
  <script>
     // Add JavaScript to change the theme and send the selection to the server
     document.getElementById('theme-toggle').addEventListener('change', function() {
           const theme = this.checked ? 'luxury' : 'retro';
           fetch('/theme', {
               method: 'POST',
               headers: {
                   'Content-Type': 'application/json'
               },
               body: JSON.stringify({ theme })
           });
           document.documentElement.setAttribute('data-theme', theme); // Update the theme immediately
       });
       // Javascript that gets cities based on selected province
			document
			.getElementById('city')
			.addEventListener("change", async function() {
				const province = this.value;
				const response = await fetch('https://countriesnow.space/api/v0.1/countries/state/cities',{
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify({ country: 'Canada', state: province })
				});
				const cities = await response.json();
				const citySelect = document.getElementById('city');
				citySelect.innerHTML = '';
				cities.forEach(city => {
					const option = document.createElement('option');
					option.value = city;
					option.textContent = city;
					citySelect.appendChild(option);
				});
			})
 </script>
</body>
</html>
